@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h4>Add a new task</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @Html.LabelFor(model => model.Cousine)
    @Html.DropDownList("CousineId")

    <input type="submit" value="Add new restaurant" class="btn btn-default" />
}
<hr />
<p>@Html.ActionLink("Show all restaurants", "Index")</p>
