@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant
<center>
  
</center>
<h4>Add New Restaurant</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @* @Html.TextBoxFor(model => model.Name) *@
    @Html.TextBoxFor(model => model.Description)
    @Html.LabelFor(model => model.Cousine)
    @Html.DropDownList("CousineId")
    <br>
    <br>
    <button class="btn btn-success" type="submit">Add New Restaurant</button>
}
<hr />
<p>@Html.ActionLink("Restaurant Overview", "Index")</p>
