@{
  Layout = "_Layout";
}
@model BestRestaurants.Models.Restaurant
<center>
<h1>Edit</h1>
<br>
<hr />
<h4>Edit this restaurant: @Html.DisplayFor(model => model.Description)</h4>
<br>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RestaurantId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.Cousine)
    @Html.DropDownList("CousineId")
    <button class="btn btn-success" type="submit">Save</button>
}
<hr />
<br>
<p>@Html.ActionLink("Back to list", "Index")</p>
</center>
