@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model BestRestaurants.Models.Cousine;
<center>
<h1>@Html.DisplayFor(model => model.Name) Cousine</h1>
<hr />
<ul>
@if (@Model.RestaurantGroup.Count == 0)
{
<p><i>No Restaurants found</i></p>
}

@foreach (Restaurant restaurant in @Model.RestaurantGroup)
{
  <ul><h4>Description: @restaurant.Description</h4></ul>
  Console.WriteLine("this");
}
</ul>
<hr />
@* <p>@Html.ActionLink("Add new restaurant", "Create", new { id = Model.RestaurantId })</p> *@
<p>@Html.ActionLink("Edit Cousine Type", "Edit", new { id = Model.CousineId })</p>
<p>@Html.ActionLink("Delete Cousine Type", "Delete", new { id = Model.CousineId })</p>
<p>@Html.ActionLink("Cousine Type Overview", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</center>
