@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cousine

<h2>Edit</h2>

<h4>Edit this cousine type: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CousineId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to the Cousine Type list", "Index")</p>
